# Assignment 7

## Submit as an HTML file

<font size = "5">
Print your name below

In [2]:
print("Alison Thieberg")

Alison Thieberg

<font size = "5">

Import the "pandas" and "numpy" library

In [3]:
# Write your answer here:

import numpy as np
import pandas as pd

<font size = "5">

(a) Replace values from intervals

<font size = "3">

- Import the dataset "data_raw/students.csv" to a new object "students"
- Use "pd.cut()" to assign the column "numericgrade" to a letter grade <br>

- Using the following grading scale: <br>

<img src="figures/grading_scale.png" alt="drawing" width="600"/>

In [4]:

students = pd.read_csv("data_raw/students.csv")

bins_x = [-1,54,59,64,69,74,79,82,86,92,100]

labels_x = ["F","D","C-","C","C+","B-","B","B+","A-","A"]

students["lettergrade"] = pd.cut(students["numericgrade"],
                                 bins = bins_x,
                                 right = True,
                                  labels = labels_x )

<font size = "5">

For questions (b)-(e) use "results.csv", <br>
a dataset on competitive car racing

Import the dataset "data_raw/results.csv" to <br>
 a new object "results"

In [5]:
# Write your own code

results = pd.read_csv("data_raw/results.csv")

<font size = "5">

(b) Check column types

<font size = "3">

- View the dataset
- Use the function "results.dtypes" to get the column types
- Search for the "results" table in "codebook/f1_codebook.pdf".
- Does the type of the "time" column agree with the codebook? <br>
i.e. is it an integer, float, or string/object?


HINT: See Lectures 12 and 14 for how to interpret the codebook

In [6]:
# Write your own code here
# Note: When you run "results.dtypes" you will get the type (int, float, object)
# Object represents columns coded as strings.

results.dtypes

# Acording to the codebook, the "time" column should be for strings
# the "time" column is an object, which means it agrees with the codebook

resultId             int64
raceId               int64
driverId             int64
constructorId        int64
number              object
grid                 int64
position            object
positionText        object
positionOrder        int64
points             float64
laps                 int64
time                object
milliseconds        object
fastestLap          object
rank                object
fastestLapTime      object
fastestLapSpeed     object
statusId             int64
dtype: object

<font size = "5">

(c) Clean a column

<font size = "3">

- Import the dataset "data_raw/results.csv" to a new object "results"
- Our goal is to replace any string values in the column "milliseconds" <br>
to missing values (NaNs) and covert to numeric
- To do so
    - "Extract list of non-numeric values"
    - "Replace certain values"
    - "Convert column to numeric"
    - "Display"

In [7]:
# Write your own code here

subset = results.query("milliseconds.str.isnumeric() == False")
list_unique = pd.unique(subset["milliseconds"])
print(list_unique)

results["milliseconds"] = results["milliseconds"].replace('\\N',np.nan)

results["milliseconds"] = pd.to_numeric(results["milliseconds"])

results.dtypes

results["milliseconds"]

['\\N']

0        5690616.0
1        5696094.0
2        5698779.0
3        5707797.0
4        5708630.0
           ...
25835          NaN
25836          NaN
25837          NaN
25838          NaN
25839          NaN
Name: milliseconds, Length: 25840, dtype: float64

<font size = "5">

(d) Groupby + Aggregate

<font size = "3">

- Compute the mean and standard deviation of "laps", <br>
grouping by "constructorId". Store the new dataset <br>
as "df_aggCon_pos"
- Sort the aggregate dataset in decending <br>
order of mean laps using ".sort_values()"

In [8]:
# Write your own code

df_aggCon_pos = (results.groupby("constructorId")
                            .agg(mean_laps = ('laps','mean'),
                                 sd_laps = ('laps','std')))



df_aggCon_pos.sort_values(by = "mean_laps", ascending=False)

                mean_laps    sd_laps
constructorId
149            198.500000   2.121320
112            197.000000   4.242641
109            184.285714  32.912583
119            178.666667  36.950417
108            163.764706  63.148168
...                   ...        ...
93               0.000000        NaN
61               0.000000   0.000000
137              0.000000        NaN
91               0.000000        NaN
74               0.000000   0.000000

[210 rows x 2 columns]

<font size = "5" >

(e) Query + Groupby + Aggregate

<font size = "3">

- Use ".query()" to subset observations with <br>
'race_id >= 150'
- Compute the mean and standard deviation of "position", <br>
grouping by "constructorId". Store the new dataset <br>
as "df_subAggCon_pos"

In [9]:

# Write your own code

subset2 = results.query("position.str.isnumeric() == False")
list_unique2 = pd.unique(subset2["position"])
print(list_unique2)

results["position"] = results["position"].replace('\\N',np.nan)

results["position"] = pd.to_numeric(results["position"])

results.dtypes

df_subAggCon_pos = (results.query("raceId >= 150")
                    .groupby(["constructorId"])
                    .agg(mean_pos = ('position','mean'),
                         sd_pos = ('position','std')))

['\\N']